/* Стили хидера */
/*стили для хидера*/
/*стили для ссылок хидера и ссылок при наведении*/
.titleHeader {
    letter-spacing: 15px;
    font-size: 300%;
}
/*стили для центрирования элементов*/
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin: 10px 10px;*/
}

.my-acc {
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans',sans-serif,Arial;
}

.header-right {
    display: flex;
    align-items: center;
    position: relative;
}

.button-site {
    /*background-color: #f16d7f;*/
    padding: 12px 15px;
    width: 100px;
    margin-left: 20px;
}
/*эти стили очень важны для нижней линии хидера*/
/*.content {
    height: 100px;
    border-bottom: 1px solid silver;
}*/
    /*стили, чтобы убрать подчеркивание у ссылок а*/
    .content > .container > .row > .col-lg-2 > a {
        text-decoration: none;
    }
/*стили меню хидера*/
/*стили очень нужные для горизонтального меню хидера*/
/*ul {
    padding: 5px;
}

li {
    display: inline;
    border-left: 1px solid #bbb;
    padding: 0 2px 0 4px;
}

    li:first-child {
        border: none;
    }*/
/*для слэша после li*/
.breadcrumbs {
    margin: 0;
    padding: 0; /* Убираем отступы */
}

    .breadcrumbs li {
        display: inline-block; /* Выстраиваем по горизонтали */
        list-style: none;
    }

        .breadcrumbs li::before {
            content: '|'; /* Разделитель */
            margin-left: 5px; /* Отступ слева */
            margin-right: 5px; /* Отступ справа */
            color: #7f7f7f; /* Цвет разделителя */
        }

        .breadcrumbs li:first-child::before {
            content: ''; /* Убираем разделитель для первого пункта */
        }
.navbar-collapse > ul > li > a {
    text-decoration: none;
}
/* Стили для анимации подчеркивания ссылок меню хидера */
.main_menu {
    display: flex;
    margin-top: 20px;
}

    .main_menu > ul {
        margin: 0 auto;
        padding: 0;
        display: inline-flex;
    }

        .main_menu > ul > li {
            padding: 0px 20px 0px;
            list-style-type: none;
        }

            .main_menu > ul > li > a {
                color: black;
                text-decoration: none;
                font-family: 'Open Sans',sans-serif,Arial;
                font-variant: normal;
                font-size: 16px;
            }

            .main_menu > ul > li:not(:last-child) {
                border-right: 2px solid black;
            }
/*=====================================================================================*/
/*стили для ссылок хидера и ссылок при наведении*/
.header a, a:hover {
    /*color: #f0ad4e;
    text-decoration: none;*/
    background-color: none;
    background: none;
}

.header h1 {
    letter-spacing: 15px;
    font-size: 300%;
}

.header p {
    /*color: white !important;*/
    font-size: 90%;
    letter-spacing: 3px;
}
/*стили для ссылок меню*/
.nav-pills > li.active > a, nav-pills > li.active > a:focus, nav-pills > li.active > a:hover {
    /*color: #fff;
    background-color: #346270;*/
    /*color: black;*/
    text-decoration: none;
    background: none;
}

.nav-pills > li > a {
    /*color: black;*/
    color: #FFFFFF;
    /*color: white;*/
    font-weight: 900;
}
    /*цвет фона при наведении на ссылку меню*/
    .nav-pills > li > a:hover {
        /*background-color: #246370;*/
        /*background-color: white;*/
        background-color: none;
        background: none;
    }
/*отступ у ссылок меню со всех сторон*/
.navbar-default {
    padding: 1%;
    border-radius: 0;
    width: 100%;
    /*border-bottom: 1px solid silver;*/
    /*padding-top: 0;*/
    font-weight: 900;
    display: flex;
    margin: 0;
}
/*запретить обтекание с правой и левой стороны*/
.clear {
    clear: both;
    width: 63px;
}
/*стили для блока с фильмами*/ /*в том числе для того, чтобы картинки увеличивались при уменьшении экрана*/
.films_block {
    text-align: center;
}
    /*стили для картинок*/
    .films_block img {
        margin-bottom: 5%;
        border-radius: 5px; /*загругление углов картинок*/
        /*border: solid 5px #dad7d5;*/
        width: 100%;
    }
/*стили для лэйблов картинок*/
.film_label {
    padding: 2%;
    margin-bottom: 4%;
}
/*стили для блока с отступом после первой строки с изображениями*/
.margin-8 {
    margin-top: 8%;
}
/*стили для инпута поиска*/
.form-control {
    border-radius: 0px;
}
/*стили для иконок под трейлером с рейтингом и т.д*/
.info-block {
    font-size: 20%;
}

    .info-block.badge {
        font-size: 80%;
    }

    .info-block span {
        margin-right: 3%;
    }

textarea.form-control {
    height: 200px;
}
/*стили для таблицы*/
.table tbody > tr > td.vert-align {
    vertical-align: middle;
}
/*медиа-запрос для вертикально отображения меню при уменьшении экрана и отцентровки логотипа и слогана*/
@media (max-width: 767px) {
    /*для вертикального размещения меню*/
    .nav-pills > li {
        float: none;
    }
    /*центруем ссылки меню*/
    .nav-pills {
        text-align: center;
    }

    .header h1 {
        letter-spacing: 5px; /*межбуквенный интервал*/
        font-size: 280%;
    }

    .header {
        text-align: center;
    }
}
.btnRequest {
    display: flex;
    align-items: center;
}
/* Стили для того, чтобы убрать отступ якорю в хидере */
.up {
    margin: 0;
    padding: 0;
}
/* Стили чтобы бургер не прыгал */
.navbar-header {
    display: flex;
    justify-content: center;
}
.container-fluid {
    background: #e91e63 !important;
    /* padding: 1%; */
    /*height: 70px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
/*.container-fluid {
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
}
.container-fluid.default {
    position: fixed;
}*/
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: white;
    background-image: none;
    border: black;
    border-radius: 4px;
}
    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background: black;
    }