/* Общие стили */
/* Стили для моего фото */
#idImage {
    /*width: 60.25%;*/
    /*float: right;*/
    width: 260px;
    height: 260px;
    font-family: 'Open Sans',sans-serif,Arial;
    border-radius: 50%;
    border: #d9edf7 solid 10px;
    /*display: flex;
    justify-content: center;*/
}
.my-class {
    display: flex;
    justify-content: center;
    /*padding: 100px 20px 0;*/
}
/* Стили для фона над хидером */
.info {
    text-align: center;
    /*margin-top: 50px;
    margin-bottom: 70px;*/
}
    .info > h1 {
        font-size: 60px;
        /*color: #FFFFFF;*/
        color: #FFFFFF;
        /*font-family: Pacifico;*/
        font-family: sans-serif;
        font-weight: 900;
    }
    .info > h2 {
        /*color: #FFFFFF;*/
        color: white;
        font-family: Pacifico;
    }
.arrow {
    height: 100px;
    text-align: center;
    padding: 30px;
}
.gotosection {
    text-align: center;
}
/* Стили для отступов слева и справа страницы */
.obo_mne {
    font-family: 'Open Sans',sans-serif,Arial;
    font-size: 14px;
    line-height: 1.625;
}

p {
    font-family: 'Open Sans',sans-serif,Arial;
    font-size: 20px;
    line-height: 1.625;
    padding-bottom: 10px;
    line-height: 25px;
    margin: 0 0 10px;
}
a {
    text-decoration: none;
    color: white;
}

body {
    /*font-family: "PT Sans";*/
    font-family: 'Open Sans',sans-serif,Arial;
    overflow-x: hidden;
    /*background: #56425B;*/
    /*background-color: rgb(34, 34, 34);*/
    color: white;
    /*background: -webkit-gradient(linear,left top,left bottom,from(#782d66),to(#5c2d75));
    background: -webkit-linear-gradient(top,#782d66,#5c2d75);
    background: -o-linear-gradient(top,#782d66,#5c2d75);
    background: linear-gradient(to bottom,#782DFF,#5c2d75);*/
    /*background-image: linear-gradient(to bottom, #782dff, #6653ff, #5c6dff, #5d81fe, #6a93f6, #6692f5, #6190f4, #5d8ff3, #3e7bfa, #1a66fd, #004dfe, #022dfb);*/
    background-image: linear-gradient(to bottom, #782dff, #8028fa, #8623f5, #8c1df1, #9216ec, #8039f4, #6c4cf9, #575bfd, #0075ff, #0089fe, #0099f4, #08a6e6);
}
#idOboMne {
    /*background: -webkit-gradient(linear,left top,left bottom,from(#f55f49),to(#782d66));
    background: -webkit-linear-gradient(top,#f55f49,#782d66);
    background: -o-linear-gradient(top,#f55f49,#782d66);
    background: linear-gradient(to bottom,#f55f49,#782d66);*/
/* Было */
    /*background: -webkit-gradient(linear,left top,left bottom,from(#007ac0),to(#0c9d5f));
    background: -webkit-linear-gradient(top,#007ac0,#0c9d5f);
    background: -o-linear-gradient(top,#007ac0,#0c9d5f);
    background: linear-gradient(to bottom,#007ac0,#0c9d5f);*/
/*=========================*/
    /*background: -webkit-gradient(linear,left top,left bottom,from(#782d66),to(#5c2d75));
    background: -webkit-linear-gradient(top,#782d66,#5c2d75);
    background: -o-linear-gradient(top,#782d66,#5c2d75);
    background: linear-gradient(to bottom,#782DFF,#5c2d75);*/
}
#idHowWorkMe {
    /*background: -webkit-gradient(linear,left top,left bottom,from(#782d66),to(#5c2d75));
    background: -webkit-linear-gradient(top,#782d66,#5c2d75);
    background: -o-linear-gradient(top,#782d66,#5c2d75);
    background: linear-gradient(to bottom,#782d66,#5c2d75);*/
}
#idMyUslugi {
    /*background: -webkit-gradient(linear,left top,left bottom,from(#007ac0),to(#0c9d5f));
    background: -webkit-linear-gradient(top,#007ac0,#0c9d5f);
    background: -o-linear-gradient(top,#007ac0,#0c9d5f);
    background: linear-gradient(to bottom,#007ac0,#0c9d5f);*/
    /*background: -webkit-gradient(linear,left top,left bottom,from(#f55f49),to(#782d66));
    background: -webkit-linear-gradient(top,#f55f49,#782d66);
    background: -o-linear-gradient(top,#f55f49,#782d66);
    background: linear-gradient(to bottom,#f55f49,#782d66);*/
}
#idDopUslugi {
    /*background: -webkit-gradient(linear,left top,left bottom,from(#0c9d5f),to(#00605c));
    background: -webkit-linear-gradient(top,#0c9d5f 0,#00605c 100%);
    background: -o-linear-gradient(top,#0c9d5f 0,#00605c 100%);
    background: linear-gradient(to bottom,#0c9d5f 0,#00605c 100%);*/
    /*========================*/
    /*background: -webkit-gradient(linear,left top,left bottom,from(#f55f49),to(#782d66));
    background: -webkit-linear-gradient(top,#f55f49,#782d66);
    background: -o-linear-gradient(top,#f55f49,#782d66);
    background: linear-gradient(to bottom,#f55f49,#782d66);*/
    
}
#idPortfolio {
    /*background-image: -webkit-gradient(linear,left top,left bottom,from(#5c2d75),to(#007ac0));
    background-image: -webkit-linear-gradient(top,#5c2d75,#007ac0);
    background-image: -o-linear-gradient(top,#5c2d75,#007ac0);
    background-image: linear-gradient(to bottom,#5c2d75,#007ac0);*/
    /*margin-left: 10%;
    margin-right: 10%;*/
    /*text-align: center;*/
}
#emptyBlock {
    margin-top: 550px;
    /*background-image: -webkit-gradient(linear,left top,left bottom,from(#5c2d75),to(#007ac0));
    background-image: -webkit-linear-gradient(top,#5c2d75,#007ac0);
    background-image: -o-linear-gradient(top,#5c2d75,#007ac0);
    background-image: linear-gradient(to bottom,#5c2d75,#007ac0);*/
}
.fon {
    /*background: #E0FFFF;*/
    /*background-color: rgb(34, 34, 34);*/
    /*background: -webkit-linear-gradient(315deg, hsla(328.71, 91.53%, 49.76%, 1) 0%, hsla(328.71, 91.53%, 49.76%, 0) 70%), -webkit-linear-gradient(65deg, hsla(347.25, 96.57%, 41.27%, 1) 10%, hsla(347.25, 96.57%, 41.27%, 0) 80%), -webkit-linear-gradient(135deg, hsla(299.61, 99.22%, 43.8%, 1) 15%, hsla(299.61, 99.22%, 43.8%, 0) 80%), -webkit-linear-gradient(205deg, hsla(165.63, 90.68%, 42.01%, 1) 100%, hsla(165.63, 90.68%, 42.01%, 0) 70%);
    background: linear-gradient(135deg, hsla(328.71, 91.53%, 49.76%, 1) 0%, hsla(328.71, 91.53%, 49.76%, 0) 70%), linear-gradient(25deg, hsla(347.25, 96.57%, 41.27%, 1) 10%, hsla(347.25, 96.57%, 41.27%, 0) 80%), linear-gradient(315deg, hsla(299.61, 99.22%, 43.8%, 1) 15%, hsla(299.61, 99.22%, 43.8%, 0) 80%), linear-gradient(245deg, hsla(165.63, 90.68%, 42.01%, 1) 100%, hsla(165.63, 90.68%, 42.01%, 0) 70%);*/
    /*background: -webkit-linear-gradient(315deg, hsla(197.3, 93.12%, 46.65%, 1) 0%, hsla(197.3, 93.12%, 46.65%, 0) 70%), -webkit-linear-gradient(65deg, hsla(307.84, 99.03%, 47.64%, 1) 10%, hsla(307.84, 99.03%, 47.64%, 0) 80%), -webkit-linear-gradient(135deg, hsla(15.5, 96.04%, 43.58%, 1) 15%, hsla(15.5, 96.04%, 43.58%, 0) 80%), -webkit-linear-gradient(205deg, hsla(259.43, 95.25%, 45.65%, 1) 100%, hsla(259.43, 95.25%, 45.65%, 0) 70%);
    background: linear-gradient(135deg, hsla(197.3, 93.12%, 46.65%, 1) 0%, hsla(197.3, 93.12%, 46.65%, 0) 70%), linear-gradient(25deg, hsla(307.84, 99.03%, 47.64%, 1) 10%, hsla(307.84, 99.03%, 47.64%, 0) 80%), linear-gradient(315deg, hsla(15.5, 96.04%, 43.58%, 1) 15%, hsla(15.5, 96.04%, 43.58%, 0) 80%), linear-gradient(245deg, hsla(259.43, 95.25%, 45.65%, 1) 100%, hsla(259.43, 95.25%, 45.65%, 0) 70%);*/
    background: -webkit-linear-gradient(315deg, hsla(279.56, 91.31%, 45.15%, 1) 0%, hsla(279.56, 91.31%, 45.15%, 0) 70%), -webkit-linear-gradient(65deg, hsla(228.42, 96.97%, 43.87%, 1) 10%, hsla(228.42, 96.97%, 43.87%, 0) 80%), -webkit-linear-gradient(135deg, hsla(332.61, 93.38%, 49.04%, 1) 15%, hsla(332.61, 93.38%, 49.04%, 0) 80%), -webkit-linear-gradient(205deg, hsla(70.1, 97.91%, 41.4%, 1) 100%, hsla(70.1, 97.91%, 41.4%, 0) 70%);
    background: linear-gradient(135deg, hsla(279.56, 91.31%, 45.15%, 1) 0%, hsla(279.56, 91.31%, 45.15%, 0) 70%), linear-gradient(25deg, hsla(228.42, 96.97%, 43.87%, 1) 10%, hsla(228.42, 96.97%, 43.87%, 0) 80%), linear-gradient(315deg, hsla(332.61, 93.38%, 49.04%, 1) 15%, hsla(332.61, 93.38%, 49.04%, 0) 80%), linear-gradient(245deg, hsla(70.1, 97.91%, 41.4%, 1) 100%, hsla(70.1, 97.91%, 41.4%, 0) 70%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/*.s_about {
    background: -webkit-gradient(linear,left top,left bottom,from(#f55f49),to(#782d66));
    background: -webkit-linear-gradient(top,#f55f49,#782d66);
    background: -o-linear-gradient(top,#f55f49,#782d66);
    background: linear-gradient(to bottom,#f55f49,#782d66);
    margin-top: 0;
    padding-top: 40px;
    z-index: 1;
    padding-bottom: 140px;
}*/
    /*padding: 100px 20px;*/
    /*background: repeat scroll 0 0 rgba(0, 0, 0, 0.8);*/
/*}*/
/*.motivation {
    background: #e91e63 !important;
    height: 10vh;
}*/
/* Стили для отступов контента */
/* =============== */
.wrapper {
    /*margin-right: 10%;
    margin-left: 10%;*/
    color: white;
}
/* Стили для того, чтобы были отступы у контента справа и слева не затрагивая градиенты */
.content {
    margin-left: 10%;
    margin-right: 10%;
}
/* =============== */
h2 {
    font-size: 1.75em;
    line-height: 1.5em;
    /*color: #555555;*/
    color: white;
    font-weight: 900;
    letter-spacing: 0.05em;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-indent: -0.05em;
    text-transform: uppercase;
}
.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Запретить скрол вправо а также автоматический перенос */
}
/* Отступы между изображениями */
#idImages {
    margin-right: 0px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-right: 3px;
    padding-bottom: 3px;
    /* box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16); */
    position: relative;
    /* width: 300px; */
    /* height: 400px; */
}
    #idImages:hover .block {
        display: block;
    }
.block {
    position: absolute;
    left: 5px;
    bottom: 0;
    right: 0;
    /* background: rgba(255,255,255, 0.7); */
    padding: 20px;
    display: none;
}
#idTTitle {
    margin-top: 50px;
    margin-bottom: 50px;
}
/* Стили для плавного увеличения изображений при наведении на них */
/*.grow:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}*/
/* Увеличение */
/*.grow {
    opacity: 1;
}

    .grow:hover {
        opacity: 0.6;
    }*/
/* Засерить фон */
/*.grow:hover {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}*/
/* ============================================================= */
/* НУЖНО ДЛЯ ЭФФЕКТОВ ИЗОБРАЖЕНИЙ */
/* При наведении серый черно-белый фон */
#idImages:hover .imgFromBack { 
    filter: brightness(50%);
    background: -webkit-linear-gradient(315deg, hsla(279.56, 91.31%, 45.15%, 1) 0%, hsla(279.56, 91.31%, 45.15%, 0) 70%), -webkit-linear-gradient(65deg, hsla(228.42, 96.97%, 43.87%, 1) 10%, hsla(228.42, 96.97%, 43.87%, 0) 80%), -webkit-linear-gradient(135deg, hsla(332.61, 93.38%, 49.04%, 1) 15%, hsla(332.61, 93.38%, 49.04%, 0) 80%), -webkit-linear-gradient(205deg, hsla(70.1, 97.91%, 41.4%, 1) 100%, hsla(70.1, 97.91%, 41.4%, 0) 70%);
    background: linear-gradient(135deg, hsla(279.56, 91.31%, 45.15%, 1) 0%, hsla(279.56, 91.31%, 45.15%, 0) 70%), linear-gradient(25deg, hsla(228.42, 96.97%, 43.87%, 1) 10%, hsla(228.42, 96.97%, 43.87%, 0) 80%), linear-gradient(315deg, hsla(332.61, 93.38%, 49.04%, 1) 15%, hsla(332.61, 93.38%, 49.04%, 0) 80%), linear-gradient(245deg, hsla(70.1, 97.91%, 41.4%, 1) 100%, hsla(70.1, 97.91%, 41.4%, 0) 70%);
    transition: 0.5s;
}
.grow {
    /*-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;*/
}


    .grow:hover {
        /*filter: grayscale(100%);*/
        /*filter: brightness(20%);*/
        /*background: rgba(0, 0, 0, 0.8) !important;*/
    }
.photobox_type17 .photobox__previewbox:before {
    /*width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity var(--photoboxAnimationDuration, .4s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: opacity;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;*/
}

.photobox_type17:hover .photobox__previewbox:before {
    /*opacity: 1;*/
}

.photobox_type17 .photobox__label {
    /*width: 95%;
    text-align: center;
    opacity: 0;
    transition: opacity calc(var(--photoboxAnimationDuration, .4s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9), transform calc(var(--photoboxAnimationDuration, .4s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: opacity, transform;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    z-index: 2;*/
}

.photobox_type17:hover .photobox__label {
    /*opacity: 1;
    transform: translate(-50%, -50%);
    transition-duration: calc(var(--photoboxAnimationDuration, .4s) / 2);
    transition-delay: calc(var(--photoboxAnimationDuration, .4s) / 2);*/
}

.photobox_type17 .photobox__preview {
    /*transition: transform var(--photoboxAnimationDuration, .4s) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: opacity, transform;*/
    /*transform: scale(1) translate(0, 0);*/
}

.photobox_type17:hover .photobox__preview {
    /*transform: scale(1.2) translate(4%, 4%);*/
}
/* ============================================================= */
/* Стили для кнопки ВВЕРХ */
.btn-up {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 650px;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#5c2d75),to(#007ac0));
    background-image: -webkit-linear-gradient(top,#5c2d75,#007ac0);
    background-image: -o-linear-gradient(top,#5c2d75,#007ac0);
    background-image: linear-gradient(to bottom,#5c2d75,#007ac0);
}
/* Стили для панелей с описаниями */
.panel-default {
    padding: 0px;
    height: 260px;
    align-items: center;
    /*box-shadow: 12px 12px 8px -4px black;*/
    box-shadow: 0 0 10px black;
    display: flex;
    justify-content: center;
}
/* Дополнительные стили для изображений при наведении */
.bw {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    /*-ms-transition: all 1s ease;*/
    transition: all 1s ease;
}
.pic {
    height: 188px;
    width: 180px;
    overflow: hidden;
    margin: 9px;
    border: 10px solid #fff;
    border: 10px solid #eee\9;
    -webkit-box-shadow: 2px 3px 10px #6E6E6E;
    box-shadow: 2px 3px 10px #6E6E6E;
    float: left;
}
/* Стили для выравнивания изображений на всех экранах */
.col-xs-6 {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}
#idTitle {
    font-size: 12pt
}
/* Стили для задачи и ее описания */
.title-task {
    font-size: 14pt;
    font-weight: 400;
}
    .col-xs-6 > #idTitle {
        font-size: 12px;
    }
/* Стиль для кнопки подробнее */
.btnDetails {
    text-align: center;
}
/* Стили для полного наименовани сайта */
#idFullName {
    color: white;
    font-size: 18px;
    line-height: 20px;
    /*top: 100px;*/
}
#idLinkSite {
    color: white;
    font-size: 18px;
    line-height: 20px;
    bottom: 190px;
}
.section-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -5px;
    line-height: 50px;
    /*padding: 80px 0;*/
    margin-top: 20px;
}
    .section-title p {
        font-size: 20px;
        line-height: 30px;
    }
.border {
    background: none repeat scroll 0 0 white;
    display: block;
    height: 10px;    
    margin-bottom: 30px;
    width: 100px;
}
h2 {
    font-family: 'Montserrat',sans-serif,Arial;
    /*padding-bottom: 5px;*/
    line-height: 1em;
    font-weight: normal;
}
/* Стили для резюме */
.arrow_box {
    position: relative;
    background: #88b7d5;
    border: 4px solid #c2e1f5;
}

    .arrow_box:after, .arrow_box:before {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        font-weight: normal;
        text-transform: uppercase;
    }

    .arrow_box:after {
        border-color: rgba(136, 183, 213, 0);
        border-right-color: #88b7d5;
        border-width: 30px;
        margin-top: -30px;
    }

    .arrow_box:before {
        border-color: rgba(194, 225, 245, 0);
        border-right-color: #c2e1f5;
        border-width: 36px;
        margin-top: -36px;
    }
.working {
    /*border: 1px solid white;*/
}
details {
    /*border: 1px solid #aaa;*/
    border-radius: 4px;
    padding: .5em .5em 0;
    font-family: 'Open Sans',sans-serif,Arial;
    font-size: 20px;
    line-height: 1.625;
    padding-bottom: 10px;
    line-height: 25px;
    margin: 0 0 10px;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    cursor: pointer;
    outline: none;
}

details[open] {
    padding: .5em;
}

    details[open] summary {
        border-bottom: 1px solid #aaa;
        margin-bottom: .5em;
    }
.work {
    font-weight: 700;
    margin-top: 10px;
}
.empty {
    margin-top: 80px;
    /*margin-bottom: 80px;*/
}
.details {
    margin-bottom: 50px;
}
/* Стили для блока порядка работы */
.order-work {
    height: 100px;
    padding: 30px;
    margin: 50px 0px -25px -30px;
}
/*.main-work-order {
    margin-bottom: -50px;
}
.two {
    margin-top: -70px;
}*/
.btnToOrder {
    background: -webkit-linear-gradient(315deg, hsla(279.56, 91.31%, 45.15%, 1) 0%, hsla(279.56, 91.31%, 45.15%, 0) 70%), -webkit-linear-gradient(65deg, hsla(228.42, 96.97%, 43.87%, 1) 10%, hsla(228.42, 96.97%, 43.87%, 0) 80%), -webkit-linear-gradient(135deg, hsla(332.61, 93.38%, 49.04%, 1) 15%, hsla(332.61, 93.38%, 49.04%, 0) 80%), -webkit-linear-gradient(205deg, hsla(70.1, 97.91%, 41.4%, 1) 100%, hsla(70.1, 97.91%, 41.4%, 0) 70%);
    background: linear-gradient(135deg, hsla(279.56, 91.31%, 45.15%, 1) 0%, hsla(279.56, 91.31%, 45.15%, 0) 70%), linear-gradient(25deg, hsla(228.42, 96.97%, 43.87%, 1) 10%, hsla(228.42, 96.97%, 43.87%, 0) 80%), linear-gradient(315deg, hsla(332.61, 93.38%, 49.04%, 1) 15%, hsla(332.61, 93.38%, 49.04%, 0) 80%), linear-gradient(245deg, hsla(70.1, 97.91%, 41.4%, 1) 100%, hsla(70.1, 97.91%, 41.4%, 0) 70%);
    border-radius: 22px;
}
    .btnToOrder:hover {
        /*color: #e91e63;*/
        /*color: gray;*/
        /*background: white;*/
        background: -webkit-linear-gradient(315deg, hsla(279.56, 91.31%, 45.15%, 1) 0%, hsla(279.56, 91.31%, 45.15%, 0) 70%), -webkit-linear-gradient(65deg, hsla(228.42, 96.97%, 43.87%, 1) 10%, hsla(228.42, 96.97%, 43.87%, 0) 80%), -webkit-linear-gradient(135deg, hsla(332.61, 93.38%, 49.04%, 1) 15%, hsla(332.61, 93.38%, 49.04%, 0) 80%), -webkit-linear-gradient(205deg, hsla(70.1, 97.91%, 41.4%, 1) 100%, hsla(70.1, 97.91%, 41.4%, 0) 70%);
        background: linear-gradient(135deg, hsla(279.56, 91.31%, 45.15%, 1) 0%, hsla(279.56, 91.31%, 45.15%, 0) 70%), linear-gradient(25deg, hsla(228.42, 96.97%, 43.87%, 1) 10%, hsla(228.42, 96.97%, 43.87%, 0) 80%), linear-gradient(315deg, hsla(332.61, 93.38%, 49.04%, 1) 15%, hsla(332.61, 93.38%, 49.04%, 0) 80%), linear-gradient(245deg, hsla(70.1, 97.91%, 41.4%, 1) 100%, hsla(70.1, 97.91%, 41.4%, 0) 70%);
        /*border-radius: 50%;*/
        animation: radial-pulse 1s normal;
        box-shadow: 2px 4px 13px 0 rgba(155,57,90,1);
        color: white;
        border-color: #ed5685;
    }
.btn-details {
    background: -webkit-linear-gradient(315deg, hsla(279.56, 91.31%, 45.15%, 1) 0%, hsla(279.56, 91.31%, 45.15%, 0) 70%), -webkit-linear-gradient(65deg, hsla(228.42, 96.97%, 43.87%, 1) 10%, hsla(228.42, 96.97%, 43.87%, 0) 80%), -webkit-linear-gradient(135deg, hsla(332.61, 93.38%, 49.04%, 1) 15%, hsla(332.61, 93.38%, 49.04%, 0) 80%), -webkit-linear-gradient(205deg, hsla(70.1, 97.91%, 41.4%, 1) 100%, hsla(70.1, 97.91%, 41.4%, 0) 70%);
    background: linear-gradient(135deg, hsla(279.56, 91.31%, 45.15%, 1) 0%, hsla(279.56, 91.31%, 45.15%, 0) 70%), linear-gradient(25deg, hsla(228.42, 96.97%, 43.87%, 1) 10%, hsla(228.42, 96.97%, 43.87%, 0) 80%), linear-gradient(315deg, hsla(332.61, 93.38%, 49.04%, 1) 15%, hsla(332.61, 93.38%, 49.04%, 0) 80%), linear-gradient(245deg, hsla(70.1, 97.91%, 41.4%, 1) 100%, hsla(70.1, 97.91%, 41.4%, 0) 70%);
    /*border-radius: 22px;*/
}
.btn-details:hover {
    /*color: #e91e63;*/
    /*color: gray;*/
    /*background: white;*/
    background: -webkit-linear-gradient(315deg, hsla(279.56, 91.31%, 45.15%, 1) 0%, hsla(279.56, 91.31%, 45.15%, 0) 70%), -webkit-linear-gradient(65deg, hsla(228.42, 96.97%, 43.87%, 1) 10%, hsla(228.42, 96.97%, 43.87%, 0) 80%), -webkit-linear-gradient(135deg, hsla(332.61, 93.38%, 49.04%, 1) 15%, hsla(332.61, 93.38%, 49.04%, 0) 80%), -webkit-linear-gradient(205deg, hsla(70.1, 97.91%, 41.4%, 1) 100%, hsla(70.1, 97.91%, 41.4%, 0) 70%);
    background: linear-gradient(135deg, hsla(279.56, 91.31%, 45.15%, 1) 0%, hsla(279.56, 91.31%, 45.15%, 0) 70%), linear-gradient(25deg, hsla(228.42, 96.97%, 43.87%, 1) 10%, hsla(228.42, 96.97%, 43.87%, 0) 80%), linear-gradient(315deg, hsla(332.61, 93.38%, 49.04%, 1) 15%, hsla(332.61, 93.38%, 49.04%, 0) 80%), linear-gradient(245deg, hsla(70.1, 97.91%, 41.4%, 1) 100%, hsla(70.1, 97.91%, 41.4%, 0) 70%);
    /*border-radius: 50%;*/
    animation: radial-pulse 1s normal;
    box-shadow: 2px 4px 13px 0 rgba(155,57,90,1);
    color: white;
    border-color: #ed5685;
}
/* Стили для кнопки ВВЕРХ */
.arrow-up {
    height: 100px;
    text-align: center;
    padding: 30px;
}
.arr-up {
    display: flex;
    justify-content: center;
}
.work {
    margin-bottom: 15px;
}
@keyframes radial-pulse {
    0% {
        /*box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);*/
        box-shadow: 2px 4px 13px 0 rgba(155,57,90,1);
    }

    100% {
        box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
    }
}
.vk {
    padding: 30px;
    height: 86px;
}
/* Стили для адаптивности */
/* xs (<=543px) */
@media (max-width: 575px) {
    .content {
        margin-left: 0;
        margin-right: 0;
    }
        .content > p {
            line-height: 35px;
        }
    .info > h1 {
        font-size: 25px;
    }
    .section-title {
        font-size: 25px;
        letter-spacing: normal;
    }
    #emptyBlock {
        margin-top: 700px;
    }
    .block {
        position: absolute;
        left: 5px;
        bottom: 0;
        right: 0;
        /* background: rgba(255,255,255, 0.7); */
        padding: 20px;
        display: none;
    }
    .block > p {
        max-width: 100%;
    }
        .block > #idTitle {
            font-family: 'Open Sans',sans-serif,Arial;
            font-size: 14px;
            /* line-height: normal; */
            padding-bottom: 10px;
            line-height: 20px;
            margin: 0px 0 -15px;
        }
    #idTitle {
        font-size: 12pt;
    }
    p {
        font-family: 'Open Sans',sans-serif,Arial;
        font-size: 20px;
        line-height: 1.625;
        padding-bottom: 10px;
        line-height: 30px;
        margin: 0px 0 -15px;
    }
    h4 {
        line-height: 30px;
    }
    .details > p {
        line-height: 35px;
    }
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin-right: -15px;
        margin-left: -15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
    }
}
/* md (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px) {
    #emptyBlock {
        margin-top: 700px;
    }
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin-right: -15px;
        margin-left: -15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
}
/* lg (>=992 и <=1199) */
@media (min-width: 992px) and (max-width: 1199px) {
    #emptyBlock {
        margin-top: 700px;
    }
}